body {   
  font-family: "Montserrat", "Tahoma", sans-serif;  
  color: #2b2b2b;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a {
  color:inherit;
  text-decoration:none;
}
 .data-section {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 115px 57px 112px 41px; 
  width: 800px;
  margin: 50px auto;
  text-shadow: #8d8d8d 0 0 1px; 
  color: #2b2b2b;
  background-color: #f4f4f4;   
 }

.contacts {  
  width: 270px;  
}

.contacts::before{
  content: url(../img/nike.svg);     
}

.contacts__header { 
  margin-top: 41px;
  margin-bottom: 0;  
  line-height: 2.4rem; 
  font-size: 1.75rem;
  font-weight: 400;    
}

.contacts__header-decoration {
  display: block;
}

.contacts__header-desc {
  margin-top: 7px;
  padding-right: 40px;
}

.desc-font {
  font-size: 0.7rem;
  line-height: 1.15rem;
}

.contacts__phone {
  display: inline-block;
  margin-top: 11px;
  margin-bottom: 7px;
  font-size: 1.25rem;
  border-bottom: 2px solid #F5A623;
}

.contacts__phone:last-of-type {
 margin-top: 0;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
  margin-top: 25px;  
}

.social-decoration path {
  fill: #2b2b2b;
}
.social-decoration path:hover {
  fill: #dd3c39;
}

.authorization {
  z-index: 77;
  width: 270px;
  margin-top: 8px;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 0.7rem;
  background-color: #fff; 
}

.authorization__content{
  padding: 13px 25px 20px;  
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

.authorization__head { 
  margin-bottom: 12px;
  font-size: 1.5rem; 
}

.form__input-name,
.form__input-password {  
  width: 221px;
  margin-top: 11px;
  padding: 13px 0 13px 10px;  
  background-color: rgba(224, 224, 224, 0.35);
  border: none;  
}

.authorization__forgot {
  display: inline-block;
  margin-top: 8px;
  margin-left: 115px; 
  text-shadow: #dd3c39 0 0 1px;  
  color: #dd3c39;
  cursor: pointer;
}

.authorization__forgot:after {
  display: block;
  content: "";
  width: 0%;
  height: 1px;
  background-color:#dd3c39;  
}
.authorization__forgot:focus {
  border: 1px solid #f80904;
}
.forgot-hidden {
  display: none;
}

.authorization__forgot:hover:after {  
  width: 100%;  
}

.authorization__btn {
  display: block;
  width: 221px;
  height: 40px;
  margin-top: 16px;  
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #dd3c39; 
  cursor: pointer;
}

.authorization__btn:focus{
  background-color: #f12824
}

.authorization__btn:hover {
  background-color: #f3504d
}

.data-section:before {
  display: block;
  content: url('../img/bg-form.svg');
  position: absolute;
  top: 15px;
  right: 0;   
}



